includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
    level: max
    paths:
        - app
        - tests
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - vendor/autoload.php

services:
    -
        class: Tests\PHPStan\TestResponseLivewireMacroExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    - Pekral\Arch\PHPStan\Rules\NoEloquentStorageMethodsInActionsRule
    - Pekral\Arch\PHPStan\Rules\NoDirectDatabaseQueriesInActionsRule
    - Pekral\Arch\PHPStan\Rules\OnlyModelManagersCanPersistDataRule
    - Pekral\Arch\PHPStan\Rules\NoLaravelHelpersForActionsRule
    - Pekral\Arch\PHPStan\Rules\ServiceNamingConventionRule
    - Pekral\Arch\PHPStan\Rules\ActionInvokeMethodRule
    - Pekral\Arch\PHPStan\Rules\ModelNamingSuffixRule
    - Pekral\Arch\PHPStan\Rules\ValidationRulesMethodNamingRule
    - Pekral\Arch\PHPStan\Rules\ValidationRulesNoInstantiationRule

